.auth-input {
  box-sizing: border-box;
  padding: 0.6rem;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  font-family: Inter;
  /* background-color: rgb(127, 170, 127); */
  border-width: 0 0 3px;
  border-color: rgb(127, 170, 127);
  outline: none;
}

.auth-input::placeholder {
  color: rgb(152, 173, 158);
}